.main-container{
    display:flexbox;
    flex-direction: column;
    background-color: #97351C;
    border-style: solid;
    border-color: #C55637;
}

.main-container > header{
    color: #CAC589;    
}